body {
  background: #0e7e12;
  box-sizing: border-box;
}

.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 350px;
  font-size: 80px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-suit {
  width: 100%;
  text-align: left;
}

.botton-suit {
  width: 100%;
  text-align: right;
}
